# Copy this file to .env and fill in your own values

# Supabase Account 1
VITE_SUPABASE_URL_A=
VITE_SUPABASE_KEY_A=
VITE_SUPABASE_BUCKET_A=

# Supabase Account 2
VITE_SUPABASE_URL_B=
VITE_SUPABASE_KEY_B=
VITE_SUPABASE_BUCKET_B=

# Admin page password
VITE_ADMIN_PASSWORD=
