# Supabase Account 1
VITE_SUPABASE_URL_A=https://lvfyhbwjpjrpvhlizyuw.supabase.co
VITE_SUPABASE_KEY_A=sb_publishable_QKjBUUSh-zVsWNzoFtEHag_dOmEwDih
VITE_SUPABASE_BUCKET_A=wedding-photos

# Supabase Account 2
VITE_SUPABASE_URL_B=https://xphqgijldemxvqxfrfgn.supabase.co
VITE_SUPABASE_KEY_B=sb_publishable_6Ps2z5BqBDt3xvJnctkOkQ_RFMtMKqY
VITE_SUPABASE_BUCKET_B=Wedding-Photos-Bucket

# Admin page password
VITE_ADMIN_PASSWORD=LoujanLeon2026
